<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HICenter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HICenterEx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>HIServiceEx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
	</dict>
</dict>
</plist>
